{{velocity}}
$xwiki.jsx.use('GoogleApps.GoogleAppsConfigClass')
$xwiki.ssx.use('GoogleApps.GoogleAppsConfigClass')

#set($configClassName="GoogleApps.GoogleAppsConfig")
#set($formId = "${section.toLowerCase()}_${configClassName}")
#set($configDoc = $xwiki.getDocument($configClassName))
#set($className="GoogleApps.GoogleAppsConfigClass")
#set($prefix="${configDoc.fullName}_${className}_0")
#set($obj = $configDoc.getObject($className))
## shorthand for t(ranslation) and tp(translation with parameters).
#macro(t $n)##
    $services.localization.render("GoogleApps.GoogleAppsConfigClass_${n}")##
#end
#macro(tp $n $p)##
    $services.localization.render("GoogleApps.GoogleAppsConfigClass_${n}",$p)##
#end
$services.localization.render('googleapps.config.explanation')


{{html wiki=true}}

<form id="$formId" method="post" action="$xwiki.getURL($configDoc, 'saveandcontinue')" class="xform">
; $configDoc.display("activate", 'edit', $obj) <label for="${prefix}_activate">#t("activate")</label>

<fieldset>
<legend>#t("communicate")</legend>

; <span class="xHint">##
#tp("communicate.hint",  ['[[', '>>https://accounts.google.com/ManageDomains]]'])<br>
#tp("communicate.hint2", ['[[', '>>https://store.xwiki.com/xwiki/bin/view/Extension/GoogleAppsIntegration#installation]]'])</span>


; <label for="${prefix}_clientid">#t("clientid")</label> ##
<span class="xHint">#t("clientid.hint")</span>
: $configDoc.display("clientid", 'edit', $obj)

; <label for="${prefix}_secret">#t("secret")</label> ##
<span class="xHint">#t("secret.hint")</span>
: $configDoc.display("secret", 'edit', $obj)

## checkboxes for scope, needs JS
; <label>#t("scope")</label> ##
<span class="xHint">#t("scope.hint")</span>
: <label title="#t('checkbox_mandatory')"> ##
<input type="checkbox" name="scope_identity" disabled="true" checked>#t("scope_identity")</label> ##
<label title="#t('checkbox_mandatory')"> ##
<input type="checkbox" name="scope_email"    disabled="true" checked>#t("scope_email")</label> ##
<label title="#t('checkbox_mandatory')"> ##
<input type="checkbox" name="scope_drive"                           >#t("scope_drive")</label> ##
<label title="#t('checkbox_notyetdone')"> ##
<input type="checkbox" name="scope_avatar"                          >#t("scope_avatar")</label> ##
$configDoc.display("scope", "hidden")

; <label for="${prefix}_appname">#t("appname")</label> ##
<span class="xHint">#t("appname.hint")</span>
: $configDoc.display("appname", 'edit', $obj)

</fieldset>

#if($services.googleAppsService.missesAuthenticationConfig())
    {{warning}}$services.localization.render('googleapps.error.authConfigNotFound')
    $services.localization.render('googleapps.error.authConfigShould',['[[','>>https://store-clone.devxwiki.com/xwiki/bin/view/Extension/GoogleAppsIntegration#installation]]']):

    {{code}}xwiki.authentication.authclass=com.xpn.xwiki.user.impl.xwiki.GroovyAuthServiceImpl
    xwiki.authentication.groovy.pagename=xwiki:GoogleApps.AuthService{{/code}}
    {{/warning}}

#end
<fieldset>
<legend>#t("loginbehaviour")</legend>

; <label for="${prefix}_domain">#t("domain")</label> ##
<span class="xHint">#t("domain.hint")</span>
: $configDoc.display("domain", 'edit', $obj)<br> ##
<span id="googleapps-domain-livehint" class="xHint">&nbsp;</span>

; $configDoc.display("useCookies", 'edit', $obj) <label for="${prefix}_useCookies">#t("useCookies")</label> ##
<span class="xHint">#t("useCookies.hint")</span>

:; $configDoc.display("skipLoginPage", 'edit', $obj) ##
<label for="${prefix}_skipLoginPage">#t("skipLoginPage")</label> ##
<span class="xHint">#t("skipLoginPage.hint")</span>

:; $configDoc.display("authWithCookies", 'edit', $obj) ##
<label for="${prefix}_authWithCookies">#t("authWithCookies")</label> ##
<span class="xHint">#t("authWithCookies.hint")</span>

:; <label for="${prefix}_cookiesTTL">#t("cookiesTTL")</label> ##
<span class="xHint">#t("cookiesTTL.hint")</span>
:: $configDoc.display("cookiesTTL", 'edit', $obj)
</fieldset>


## Hidden form elements
#set($params="editor=${escapetool.url(${editor})}&amp;section=${escapetool.url(${section})}")
#set($params="${params}&amp;space=${escapetool.url(${currentSpace})}")
#set($continueURL=$xwiki.getURL($currentDoc, 'admin', $params))
<input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
<input type="hidden" name="xcontinue" value="${continueURL}" />
<input type="hidden" name="xredirect" value="${continueURL}" />

## submit
<div class="bottombuttons">
<p class="admin-buttons">
<span class="buttonwrapper"><input class="button" type="submit" name="formactionsac" ##
value="$services.localization.render('admin.save')" /></span>
</p>
</div>
</form>


<div id="driveOnNowWhat">

#tp("nowWhat1", ['[[','>>GoogleApps.TestDocumentList]]'])

#tp("nowWhat2", ['##~{~{drive/~}~}##'])

</div>
{{/html}}

{{/velocity}}
