{{velocity}}
$xwiki.jsx.use('GoogleApps.GoogleAppsConfigClass')
$xwiki.ssx.use('GoogleApps.GoogleAppsConfigClass')

#set($configClassName="GoogleApps.GoogleAppsConfig")
#set($formId = "${section.toLowerCase()}_${configClassName}")
#set($configDoc = $xwiki.getDocument($configClassName))
#set($className="GoogleApps.GoogleAppsConfigClass")
#set($prefix="${configDoc.fullName}_${className}_0")
#set($obj = $configDoc.getObject($className))
## shorthand for t(ranslation) and tp(translation with parameters).
#macro(t $n)##
    $services.localization.render("GoogleApps.GoogleAppsConfigClass_${n}")##
#end
#macro(tp $n $p)##
    #set($prf="GoogleApps.GoogleAppsConfigClass_")
    #if($n.startsWith("googleapps"))#set($prf="")#end
    #set($msg=$services.localization.render("GoogleApps.GoogleAppsConfigClass_${n}",$p))##
    $stringtool.replacePattern($msg, '\[\[([^>]*)>>([^\]]*)\]\]', '<a href="$2">$1</a>')##
#end
#macro (displayInput $property)##
    #set ($output = $doc.display($property, 'edit', $obj))##
    #set ($output = $stringtool.removeStart($output, '{{html clean="false" wiki="false"}}'))##
    #set ($output = $stringtool.removeEnd($output, '{{/html}}'))##
    $output##
#end

$services.localization.render('googleapps.config.explanation')

{{html wiki=false}}

<form id="$formId" method="post" action="$xwiki.getURL($configDoc, 'saveandcontinue')" class="xform">
<dl>
    <dt>#displayInput("activate") <label for="${prefix}_activate">#t("activate")</label></dt>
</dl>

<fieldset>
<legend>#t("communicate")</legend>

<dl><dt><span class="xHint">##
    #tp("communicate.hint",  ['[[', '>>https://accounts.google.com/ManageDomains]]'])<br>
    #tp("communicate.hint2", ['[[', '>>https://store.xwiki.com/xwiki/bin/view/Extension/GoogleAppsIntegration#installation]]'])</span></dt></dl>


<dl><dt><label for="${prefix}_clientid">#t("clientid")</label> ##
    <span class="xHint">#t("clientid.hint")</span></dt>
    <dd> #displayInput("clientid")</dd></dl>

<dl><dt><label for="${prefix}_secret">#t("secret")</label> ##
<span class="xHint">#t("secret.hint")</span></dt>
    <dd> #displayInput("secret")</dd></dl>

## checkboxes for scope, needs JS
<dl><dt><label>#t("scope")</label> ##
<span class="xHint">#t("scope.hint")</span></dt>
<dd> <label title="#t('checkbox_mandatory')"> ##
<input type="checkbox" name="scope_identity" disabled="true" checked>#t("scope_identity")</label> ##
<label title="#t('checkbox_mandatory')"> ##
<input type="checkbox" name="scope_email"    disabled="true" checked>#t("scope_email")</label> ##
<label title="#t('checkbox_mandatory')"> ##
<input type="checkbox" name="scope_drive"                           >#t("scope_drive")</label> ##
<label title="#t('checkbox_notyetdone')"> ##
<input type="checkbox" name="scope_avatar"                          >#t("scope_avatar")</label> ##
    <input type="hidden" name="GoogleApps.GoogleAppsConfigClass_0_scope" value="${obj.getValue('scope')}"/></dd></dl>

    <dl><dt><label for="${prefix}_appname">#t("appname")</label> ##
<span class="xHint">#t("appname.hint")</span></dt>
        <dd> #displayInput("appname")</dd></dl>

</fieldset>

#if($services.googleAppsService.missesAuthenticationConfig())
    <div class="box warningmessage">
        <p>$services.localization.render('googleapps.error.authConfigNotFound')<br>
            #tp('googleapps.error.authConfigShould',['[[','>>https://store.xwiki.com/xwiki/bin/view/Extension/GoogleAppsIntegration#installation]]'])</p>
        <div class="box"><div class="code"><span style="border: 1px solid #FF0000; ">xwiki.authentication.authclass=com.xpn.xwiki.user.impl.xwiki.GroovyAuthServiceImpl</span><br><span style="border: 1px solid #FF0000; ">xwiki.authentication.groovy.pagename=xwiki:GoogleApps.AuthService</span>
        </div></div></div>
#end
<fieldset>
<legend>#t("loginbehaviour")</legend>

<dl><dt><label for="${prefix}_domain">#t("domain")</label> ##
<span class="xHint">#t("domain.hint")</span></dt>
<dd> #displayInput("domain")<br> ##
    <span id="googleapps-domain-livehint" class="xHint">&nbsp;</span></dd></dl>

<dl><dt>#displayInput("useCookies") <label for="${prefix}_useCookies">#t("useCookies")</label> ##
    <span class="xHint">#t("useCookies.hint")</span></dt>
    <dd>
        <dl>
            <dt>#displayInput("skipLoginPage") ##
                <label for="${prefix}_skipLoginPage">#t("skipLoginPage")</label>
                <span class="xHint">#t("skipLoginPage.hint")</span></dt>
        </dl>
        <dl><dt>#displayInput("authWithCookies") ##
        <label for="${prefix}_authWithCookies">#t("authWithCookies")</label> ##
            <span class="xHint">#t("authWithCookies.hint")</span></dt></dl>

        <dl><dt><label for="${prefix}_cookiesTTL">#t("cookiesTTL")</label> ##
            <span class="xHint">#t("cookiesTTL.hint")</span></dt>
            <dd>#displayInput("cookiesTTL")</dd></dl>
    </dd>
</dl>

</fieldset>


## Hidden form elements
#set($params="editor=${escapetool.url(${editor})}&amp;section=${escapetool.url(${section})}")
#set($params="${params}&amp;space=${escapetool.url(${currentSpace})}")
#set($continueURL=$xwiki.getURL($currentDoc, 'admin', $params))
<input type="hidden" name="form_token" value="$!{services.csrf.getToken()}" />
<input type="hidden" name="xcontinue" value="${continueURL}" />
<input type="hidden" name="xredirect" value="${continueURL}" />

## submit
<div class="bottombuttons">
<p class="admin-buttons">
<span class="buttonwrapper"><input class="button" type="submit" name="formactionsac" ##
value="$services.localization.render('admin.save')" /></span>
</p>
</div>
</form>

<div id="driveOnNowWhat">

    <p>#tp("nowWhat1", ['[[',">>${xwiki.getDocument('GoogleApps.TestDocumentList').getURL()}]]"])</p>

    <p>#tp("nowWhat2", ['<code>{{drive/}}</code>'])</p>

</div>
{{/html}}

{{/velocity}}
